/* 全局样式 */
html,
body,
#app {
  max-height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
}
.van-cell {
  margin: 8px 8px 8px 8px;
  padding: 0 !important;
  width: 96%;
}
van-list {
  margin-top: 10px;
}
.vanList {
  width: 360px;
  margin: 0 auto 10px;
  border-radius: 3px;
  background-color: white;
  border-radius: 7px;
}
.van-field__label {
  width: 44px;
  margin-left: 3px;
  border-right: 1px solid #6fa8f6;
}
.van-cell__value {
  margin-left: 3px;
}
.van-tabs{
  width: 100%;
}
.van-ellipsis{
  color: #fff;
  width: 50%;
  font-size: 18px;
  margin: auto;
}
.van-picker__columns{
  background-color: #6fa8f6;
}